################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AFI.API/obj/Debug/net5.0
/src/AFI.API/obj/project.assets.json
/src/AFI.API/obj/AFI.API.csproj.nuget.g.targets
/src/AFI.API/obj/AFI.API.csproj.nuget.g.props
/src/AFI.API/obj/AFI.API.csproj.nuget.dgspec.json
/src/.vs/AFI.API/v16
/src/AFI.API.Core/obj/Debug/net5.0
/src/AFI.API.Core/obj/project.nuget.cache
/src/AFI.API.Core/obj/project.assets.json
/src/AFI.API.Core/obj/AFI.API.Core.csproj.nuget.g.targets
/src/AFI.API.Core/obj/AFI.API.Core.csproj.nuget.g.props
/src/AFI.API.Core/obj/AFI.API.Core.csproj.nuget.dgspec.json
/src/AFI.API.Model/obj/Debug/net5.0
/src/AFI.API.Model/obj/project.nuget.cache
/src/AFI.API.Model/obj/project.assets.json
/src/AFI.API.Model/obj/AFI.API.Model.csproj.nuget.g.targets
/src/AFI.API.Model/obj/AFI.API.Model.csproj.nuget.g.props
/src/AFI.API.Model/obj/AFI.API.Model.csproj.nuget.dgspec.json
/src/AFI.Data/obj/project.nuget.cache
/src/AFI.Data/obj/project.assets.json
/src/AFI.Data/obj/Debug/net5.0
/src/AFI.Data/obj/AFI.Data.csproj.nuget.g.targets
/src/AFI.Data/obj/AFI.Data.csproj.nuget.g.props
/src/AFI.Data/obj/AFI.Data.csproj.nuget.dgspec.json
/src/AFI.Data.Entities/obj/project.nuget.cache
/src/AFI.Data.Entities/obj/project.assets.json
/src/AFI.Data.Entities/obj/Debug/net5.0
/src/AFI.Data.Entities/obj/AFI.Data.Entities.csproj.nuget.g.targets
/src/AFI.Data.Entities/obj/AFI.Data.Entities.csproj.nuget.g.props
/src/AFI.Data.Entities/obj/AFI.Data.Entities.csproj.nuget.dgspec.json
/src/AFI.API/bin/Debug/net5.0
/src/AFI.API.Core/bin/Debug/net5.0
/src/AFI.API.Model/bin/Debug/net5.0
/src/AFI.Data/bin/Debug/net5.0
/src/AFI.Data.Entities/bin/Debug/net5.0
/src/AFI.API.Common/obj
/src/AFI.API.Common/bin/Debug/net5.0
/src/.vs/AFI.API/DesignTimeBuild
